<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="ColoredConsole">
        <layout xsi:type="SimpleLayout">
          <text>${date} [${pad:padding=5:inner=${uppercase:inner=${level}}}] [${logger}] (${ndc})${newline}${message}${onexception:inner=${newline}${exception:format=ToString}}${newline}</text>
        </layout>
      </target>
      <target name="file" xsi:type="File" fileName="${basedir}/Log.txt" encoding="utf-8">
        <layout xsi:type="SimpleLayout">
          <text>${date} [${pad:padding=5:inner=${uppercase:inner=${level}}}] [${logger}] (${ndc})${newline}${message}${onexception:inner=${newline}${exception:format=ToString}}${newline}</text>
        </layout>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="console" />
      <logger name="*" minlevel="Warn" writeTo="file" />
    </rules>
  </nlog>
</configuration>
